<div class="row">
    <div class="col-md-12">
        <h1>{{data.departmentName}} - Department: {{data.departmentId}}</h1>
        <hr />
        <form method="post" action="/department/update">
            <input type="hidden" name="departmentId" value="{{data.departmentId}}" />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="departmentName">Department Name</label>
                            <input class="form-control" 
                                   id="departmentName" 
                                   name="departmentName" 
                                   type="text" 
                                   value="{{data.departmentName}}" />
                    </div>
                </div>
            </div>
            <hr />
            <input type="submit" class="btn btn-primary pull-right" value="Update Department" /><br /><br /><br />
        </form>
    </div>
</div>