	   <div class="row">
			<aside class="col-md-3">
				<br>
				<img src="img/logo.jpg" width="70%" height="70%" valign="middle"> 
				<br><br>
				<p>Created by <h4>Jongkuk Lee</h></p>
				<p><a href="mailto:jongkuk.jay.lee@gmail.com">jongkuk.jay.lee@gmail.com</a></p>
			</aside>
			<section class="main col-md-9">
				<article>
				<h3>Welcome</h3>
				<p>Hi there,</p> 
				<p>My interests are everything related to the up-to-date web technology.</p> 
				<p>This web page is a <b>node.js / RESTful API </b> based website on Heroku service.</p>
				<p>You can use and test all and share your opinon in the 'COMMENTS' menu. </p>
				<p>Enjoy browsing my app!</p>
				<p>Sincerely.</p>
				<h4>Employee Management System (May 2017 – Aug 2017)</h4>

				<p>•  Overview: Employee Management System was a Node.js/RESTful API-based system to manage the employees, managers, departments information on Relation Database (PostgreSQL)</p>
				<br>
				<p>• Key responsibilities:</p>
				<p>- Created web server using NodeJS/Express.js/RESTful API to handle the data on Postgres database</p>
				<p>- Created UI pages using the template pages of Handlebars.js</p>
				<p>- Created Employee, Department tables on Postgres database </p>
				<p>- Verified authentication/authorization on system</p>
				<p>- Built/Deployed application on Cloud platform (Heroku)</p>
				<br>
				<p>• Other key skills: JQuery/AJAX/JSON/Client-session.js/Bootstrap/JavaScript/HTML/CSS</p>
				<br>
				</article>
			</section>
		</div>